.generic-anchor {
    color: deepskyblue;
    &:hover {
        color: crimson;
    }
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

footer {
  background: #2A2E33;
  margin-top: auto;
}
.footer-list-top {
  width: 33.333%;
  margin: 10px auto;
}
.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px;
}
.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font-size: 1em;
}
.footer-list-anchor {
  font-size: 1em;
}
.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}
.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 3px solid crimson;
  width: calc(100% - 20px)
}
.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: #141d26;
  padding: 0 20px
}
.footer-social-connect {
  display: flex;
  align-items: center;
  font: 2em;
  color: #fff
}
.footer-social-small {
  font-size: 1em;
  padding: 0px 20px
}
.footer-social-overlap > a {
  font-size: 1em;
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em;
}
.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 3px solid crimson;
  margin-top: 10px
}
.footer-bottom-section > div:first-child {
  margin-right: auto
}
.footer-bottom-wrapper {
  font-size: 1em;
  color: #fff
}
.footer-address {
  display: inline;
  font-style: normal
}
