@import url(//fonts.googleapis.com/earlyaccess/notonaskharabic.css);

html, body {
    font-size: 100%;
    height: 100%;
    font-family: "Noto Naskh Arabic", "Noto Sans UI", sans-serif;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.04);
    -webkit-text-stroke: 1px transparent;
    line-height: 2;
    margin: auto;
}

#mainNav {
    height: 4vw;
}

.nav_container {
    display: flex !important;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 1170px;
    line-height: 24;
    margin: 0px auto;
    padding: 0px 15px;
}

.navbar-default {
    border-color: rgba(255,255,255,0.1);
    border-style: solid;
    color: white;
}
.navbar-default {
    transition: height 0.35s, background-color 0.35s, font-size 0.35s;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    background:transparent;
    right: 0;
    left: 0;
    z-index: 1030;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

nav{
    background: rgba(42,46,51,0.9) !important;
}

a {
    color: deepskyblue;
    background-color: transparent;
    transition: opacity .35s;
    text-decoration: none;
}

a:hover, a:hover i {
    color: crimson;
}

#mainNav .site-logo img {
    max-height: 4vw;
}
.navbar-default:not(.affix) .site-logo img, .navbar-default.affix .site-logo img {
    width: auto;
    height: 100%;
}
img {
    vertical-align: middle;
    border: 0;
}
.horizontal-list li {
    display: inline-block;
    padding: 0px 7px;
}
.nav li {
    display: inline-block;
    padding: 7px;
}
.navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
    padding: 11px;
}

.navbar-default .nav > li > a:not(.navbar-brand), .navbar-default .nav > li > a:not(.navbar-brand):focus {
    font-size: 0.8em;
    font-weight: 500;
    color: white;
    background-color: transparent;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    letter-spacing: 1px;
    text-transform: uppercase;
    white-space: nowrap;
}
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:active {
    padding: 10px;
    color: crimson;
    border: 1px solid crimson;
    border-radius: 10px;
}
.navbar-nav > li > a {
    line-height: 2;
}
.nav > li > a {
    position: relative;
    display: block;
}

#top-section {
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.bg-dark {
    background-color: #141d26;
    color: white;
}
.bg-light {
    background-color: white;
    color: #141d26;
}
.bg-mid {
    background-color: #2A2E33;
    color: white;
}

.social-icons li a i{
    background-color: deepskyblue;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 1.9;
    text-align: center;
    display: inline-block;
    margin: 0 5px;
}

.social-icons li a:hover i {
    background-color: crimson;
}

#top-section .home-image-bg {
    background-image: url(../images/homepage_bg.png);
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: auto 100%;
}

#section-story {
    background-image: url(../images/promo1_bg.jpg);
    background-position: top center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#section-promo {
    background-image: url(../images/promo2_bg.jpg);
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.darken {
    background-color: rgba(0,0,0,0.4);
    display: cover: 
}
.fitScreen{
    min-height: 100vh;
}

.homepage {
    justify-content: flex-end;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    z-index: 1;
    line-height: 2;
}

.container {
    margin: auto;
    width: 1170px;
    min-height: 500px;
}
.footer-container {
    margin: auto;
    width: 1170px;
}

.article-about {
    width: 50%;
    float: right;
}

.left {
    float: left;
}
.right {
    float: right;
}
.center {
    float: center;
}
.name {
    border: 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0 25px;
    margin: 0px auto;
    font-size: 3vw;
    font-weight: 500;
    letter-spacing: 4px;
}

.slogan {
    font-size: 1.5vw;
    line-height: 2;
    margin: 1vw auto 3vw;
    padding: 0px;
    text-align: center;
    font-weight: 300;
}

.spacingLarge {
    letter-spacing: 7px;
    word-spacing: 7px;
}

#section-story .container, #section-promo .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: -webkit-flex;
    z-index: 2;
}

section {
    padding: 4vw 0px;
}

.col-40 {
    flex: 40%;
    max-width: 40%;
    margin: auto 0px;
}
.col-50 {
    width: 50%;
}
.col-60 {
    flex: 60%;
    max-width: 60%;
    margin: auto 0px;
}
.text-center {
    text-align: center;
    align-items: center;
}
@media screen and (max-width: 800px) {
  .col-40,.col-60 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

.modulesTitle {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    text-transform: uppercase;
    padding: 30px 0px;
    margin: auto;
}
@media (min-width: 48em)
h2 {
    font-size: 1.953em;
}

hr {
    max-width: 50px;
    border-width: 3px;
    border: 0;
    border-top: 3px solid crimson;
}
@media (min-width: 1200px)
.container {
    width: 1170px;
}
@media (min-width: 992px)
.container {
    width: 970px;
}
@media (min-width: 768px)
.container {
    width: 750px;
}

.img-rounded {
    border-radius: 6px;
}
img {
    vertical-align: middle;
    border: 0;
}

p {
    line-height: 2;
    display: inline-block;
}

@media (min-width: 992px)
.s123-module-team.layout-3 .team-height {
    height: 600px !important;
}
@media (min-width: 768px)
.s123-module-team.layout-3 .team-height {
    height: 400px;
}

@media (min-width: 768px)
.col-sm-6 {
    width: 50%;
}
@media (min-width: 768px)
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
@media (min-width: 992px)
.col-md-2 {
    width: 16.66666667%;
}
@media (min-width: 992px)
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
@media (min-width: 768px)
.col-sm-4 {
    width: 33.33333333%;
}
@media (min-width: 768px)
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
}


.customer-bg {
    height:100%;
    width: auto;
    max-width:100%;
}

.img-profile {
    height:400px;
    width: auto;
    display:inline-block;
    float: left;
    margin: auto 70px;
}
.img-production {
    height:auto;
    width:100%;

    display:inline-block;
}
.header-section {
    margin: 0px auto;
}
ul {
    padding: 0px;
    list-style: none;
    margin: auto;
}
.box-primary {
    background-color: white !important;
}
@media (min-width: 992px)
.col-md-12 {
    width: 100%;
}
@media (min-width: 992px)
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
}
@media (min-width: 992px)
.s123-module-contact.layout-7 .contact-container {
    width: 70%;
}

.list-unstyled {
    list-style: none;
}
.fa-fw {
    width: 2em;
    text-align: center;
}
.fab {
    display: inline-block;
    font-size: 1.7em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.form-group {
    margin: 15px auto;
}
.btn-block {
    width: 100%;
}
.form-control {
    width: 100%;
    height: 30px;
    border-radius: 4px;

}
.contactUsForm{
    margin: 0px auto;
    padding: 20px;
    width:70%;
}
button {
    border: 1px solid firebrick;
    color: white;
    background-color: crimson;
    border-bottom: solid 3px maroon;
    border-radius: 3.5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    padding: 15px 30px;
    line-height: 1.5;
    display: block;
    margin: 0px auto;
    transition: background-color .35s, opacity .35s;
}
.button-link{
    display: inline-block;
    border: 1px solid firebrick;
    color: white;
    background-color: crimson;
    border-bottom: solid 3px maroon;
    border-radius: 3.5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1em;
    padding: 15px 30px;
    line-height: 1.5;
    margin: 0px auto;
    transition: background-color .35s, opacity .35s;
}

a.button-link:hover{ 
    color:white;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin:auto;
	table-layout: fixed ;
}

td {
    height: 300px;
    text-align: center;
}

@media (min-width: 1200px)
.site_container {
    width: 1170px;
}
@media (min-width: 992px)
.site_container {
    width: 970px;
}
@media (min-width: 768px)
.site_container {
    width: 750px;
}
@media (min-width: 768px)
.navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
}
@media (min-width: 75em)
html, body {
    font-size: 16.5px !important;
}
@media (min-width: 62em)
html, body {
    font-size: 16px !important;
}
@media (min-width: 75em)
html, body {
    font-size: 16.5px !important;
}
@media (min-width: 768px)
.navbar-nav {
    float: left;
}
@media (min-width: 768px)
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
@media (min-width: 768px)
#top-section .homepage-layout-24 {
    padding-top: 120px;
    padding-bottom: 70px;
}
@media (min-width: 1200px)
.container {
    width: 1170px;
}
@media (min-width: 992px)
.container {
    width: 970px;
}
@media (min-width: 768px)
.container {
    width: 750px;
}
@media only screen and (min-width: 1200px)
#top-section h1, #top-section .title h1 {
    font-size: 70px;
}
@media only screen and (min-width: 992px)
#top-section h1, #top-section .title h1 {
    font-size: 66.5px;
}
@media only screen and (min-width: 768px)
#top-section h1, #top-section .title h1 {
    font-size: 63px;
}
@media only screen and (min-width: 480px)
#top-section h1, #top-section .title h1 {
    font-size: 49px;
}
@media only screen and (min-width: 1px)
#top-section h1, #top-section .title h1 {
    font-size: 45.5px;
}
@media (min-width: 48em)
h1 {
    font-size: 2.441em;
}
@media only screen and (min-width: 1200px)
#top-section h2, #top-section .title h2 {
    font-size: 32px;
}
@media only screen and (min-width: 992px)
#top-section h2, #top-section .title h2 {
    font-size: 30.4px;
}
@media only screen and (min-width: 768px)
#top-section h2, #top-section .title h2 {
    font-size: 28.8px;
}
@media only screen and (min-width: 480px)
#top-section h2, #top-section .title h2 {
    font-size: 22.4px;
}
@media only screen and (min-width: 1px)
#top-section h2, #top-section .title h2 {
    font-size: 20.8px;
}
@media (min-width: 1200px)
.container {
    width: 1170px;
}
@media (min-width: 992px)
.container {
    width: 970px;
}
@media (min-width: 768px)
.container {
    width: 750px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.generic-anchor {
	color: deepskyblue;
	&:hover {
		color: crimson;
	}
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
}
.site-logo img{
	width: auto;
	height: 100%;
}
.row {
    margin: auto;
    width: 1170px;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
}
footer {
  background: #2A2E33;
  margin-top: auto;
}
.footer-list-top {
  width: 33.333%
}
.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px;
}
.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font-size: 1em;
}
.footer-list-anchor {
  font-size: 1em;
}
.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}
.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 3px solid crimson;
  width: calc(100% - 20px)
}
.footer-social-overlap {
  position: relative;
  z-index: 2;
  background: #2A2E33;
  padding: 0 20px
}
.footer-social-connect {
  display: flex;
  align-items: center;
  font: 2em;
  color: #fff
}
.footer-social-small {
  font-size: 1em;
  padding: 0px 20px
}
.footer-social-overlap > a {
  font-size: 1em;
}
.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em;
}
.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 3px solid crimson;
  margin-top: 10px
}
.footer-bottom-section > div:first-child {
  margin-right: auto
}
.footer-bottom-wrapper {
  font-size: 1em;
  color: #fff
}
.footer-address {
  display: inline;
  font-style: normal
}
@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 2em
  }
  .footer-list-anchor {
    font-size: 1.1em
  }
  .footer-social-connect {
    font-size: 2.5em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
@media only screen and (max-width: 568px) {
  main {
    font-size: 5em
  }
  .footer-list-top {
    width: 100%
  }
  .footer-list-header {
    font-size: 3em;
  }
  .footer-list-anchor {
    font-size: 1.5em
  }
  .footer-social-section {
    justify-content: center
  }
  .footer-social-section::after {
    top: 25%
  }
  .footer-social-connect {
    margin-bottom: 10px;
    padding: 0 10px
  }
  .footer-social-overlap {
    display: flex;
    justify-content: center;
  }
  .footer-social-icons-wrapper {
    width: 100%;
    padding: 0
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 20px;
  }
  .footer-bottom-section {
    padding: 0 5px 10px 5px
  }
  .footer-bottom-wrapper {
    text-align: center;
    width: 100%;
    margin-top: 10px
  }
}
@media only screen and (max-width: 480px) {
  .footer-social-overlap > a {
    margin: auto
  }
  .footer-social-overlap > a:not(:first-child) {
    margin-left: 0;
  }
  .footer-bottom-rights {
    display: block
  }
}
@media only screen and (max-width: 320px) {
  .footer-list-header {
    font-size: 2.2em
  }
  .footer-list-anchor {
    font-size: 1.2em
  }
  .footer-social-connect {
    font-size: 2.4em
  }
  .footer-social-overlap > a {
    font-size: 2.24em
  }
  .footer-bottom-wrapper {
    font-size: 1.3em
  }
}
